[submodule "fu/pymtl3_hardfloat"]
	path = fu/pymtl3_hardfloat
	url = https://github.com/coredac/pymtl3_hardfloat
[submodule "fu/dp_fpfma"]
	path = fu/dp_fpfma
	url = https://github.com/coredac/dp_fpfma
